* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li:hover {
    background-color: #c2c2c2;
    transition: 0.3s;
}

i {
    visibility: hidden;
}

li:hover i {
    visibility: visible;
}